<p id="notice"><%= notice %></p>
<div class="show">
  <% if current_user.id == @task.user_id %>
    <p>
      <strong>タイトル</strong>
      <%= simple_format(h @task.title) %>
    </p>
    <p>
      <strong>内容</strong>
      <%= simple_format(h @task.content) %>
    </p>
    <p>
      <strong>日時</strong>
      <%= @task.start_time.strftime("%m月%d日") %>
    </p>
    <%= link_to '編集', edit_task_path(@task) %>
    <%= link_to '削除', task_path(@task.id), method: :delete, data: { confirm: '削除しますか?' } %>
    <%= link_to '戻る', tasks_path %>
  <% end %>
</div>
